

body {
    font: {
        family: Spartan, sans-serif;
        size: 15px;
        weight: 400;
    }
    background: {
        image: url("/social proof section/images/bg-pattern-top-desktop.svg");
        position: left top;
        repeat: no-repeat;
    }
}