@media screen and (max-width: 770px) {
    .main-content {
        margin-top: 10vh;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }

    .headline-copy {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h1 {
            text-align: center;
        }

        p {
            margin-top: 1rem;
           width: 90%;
            text-align: center;
        }
    }

    .rating-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 90%;
        margin-top: 2rem;

        .rating-section1, .rating-section2, .rating-section3 {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 1rem;
            }

            p {
                margin-left: 0px;
                width: 80%;
                text-align: center;
            }
        }

        .rating-section1 {
            padding-left: 20px;
            padding-right: 20px;
        }

        .rating-section2 {
            padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        }

        .rating-section3 {
            padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        }

    }

    .testimonials {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin-left: -5%;

        .testimonial-block1, .testimonial-block2, .testimonial-block3 {
            @include testimonial-small;
            margin-top: 2rem;
            margin-right: 0;
        }

        .testimonial-block3 {
            margin-bottom: 2rem;
        }

    }
}

@media screen and (min-width: 770px) and (max-width: 1200px) {
    .main-content {
        margin-top: 20vh;
    }

    .info-content {
        display: flex;
        flex-direction: row;
        max-width: 70vw;
        margin-right: 10vw;
        
    }

    .rating-section{

        .rating-section1, .rating-section2, .rating-section3 {

            img {
                margin: 0 1.5px;
            }
            p{
                margin-left: 1px;
                padding-left: 4px;
            }
        }

        .rating-section1 {
            padding-right: 40px;
        }
        .rating-section2 {
           margin-left: 0px;
        }

        .rating-section3 {
            margin-left: 0px;
        }
    }

    .testimonials {

        .testimonial-block1, .testimonial-block2, .testimonial-block3 {
            height: 12.5%;
        }
    }
}

